<h1>Dogs</h1>

<div class="dogs">
  <% @dogs.each do |dog| %>
    <div class="dog">
      <h2><%= dog.breed.capitalize %></h2> <!-- Display the breed -->
      <img src="<%= dog.image_url %>" alt="<%= dog.breed %>">
    </div>
  <% end %>
</div>
